/*body{
	background:#f1f1f1;
}*/
.gamdbbackup{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#444;
	line-height:22px;
	margin:0 auto;
}
.gamdb-title{
	margin-top:10px;	
}
.main-title{
	font-size:23px;
	color:#444;
}
.gamdb-title p, h2{
	margin:5px;
}
.gamdb-title p a{
	color:#0074a2;
	text-decoration:none;
}
.gamdb-title p a:hover{
	text-decoration:underline;
}
.gamdb-sub-title{
	font-size:17px;
	color:#444;
}
.gamdb-input, .gamdb-input2{
	width:350px;
	padding:12px 5px;
	border:1px solid #ccc;
	border-radius:5px;
	margin-bottom: 10px;
}
.gamdb-input2{
	height: 37px !important;
    margin-right: 19px;
    padding: 10px 5px !important;
    width: 165px;
}
.saveall-btn{
	background:#005b7f;
	font-weight:bold;
	color:#fff;
	padding:10px;
	border-radius:5px;
	text-transform:uppercase;
	margin-top:5px;	
	text-decoration:none;
	border: 0;
	cursor: pointer;
}
.gamdb-rowblock{
	float:left;
}
.gamdb-row p{
	margin:0;
}
.gamdb-block {
    margin-bottom: 35px;
}